@mixin center($direction) {
	position: absolute;
	@if $direction==xy {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@else if $direction==x {
		left: 50%;
		transform: translateX(-50%);
	}
	@else if $direction==y {
		top: 50%;
		transform: translateY(-50%);
	}
}

@mixin background-image($fileName) {
	background-image: url($PATH_IMG + $fileName);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	@content;
}

@mixin flex($direction: row, $align-items: false, $justify-content: false) {
  display: flex;
  flex-direction: $direction;
  @if $align-items {
    align-items: $align-items;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
	@content;
}

@mixin breakpoint($breakpoint, $direction: max) {
  @if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
    @if $direction == max {
      @media (max-width: ($breakpoint-value - 1)) {
        @content;
      }
    } @else if $direction == min {      
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint-value) {
        @content
      }
    }
  } @else {
		@error "Breakpoint doesn't exist in the map.";
	}
}