
.nav-menu__wrapper {
  width: 100%;
  min-width: 320px;
  height: map-get($nav-height, desktop);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $nav-z-index;
  @include flex($align-items: center);
  background-color: $white;
  padding: 0 110px 0 40px;
  .title {
    cursor: pointer;
    @include flex($align-items: center);
    .logo {
      width: 30px;
    }
    .content {
      padding: 0 6px;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .nav__wrapper {
    @include flex {
      flex: 1;
    }
    padding: 0 24px;
  }
  .nav-hamburger {
    display: none;
  }
  .nav {
    width: 100%;
    height: 100%;
    .nav-menu {
      width: inherit;
      height: inherit;
      text-align: right;
      .menu__item {
        vertical-align: middle;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        &:first-child {
          display: none;
        }
        &>a {
          display: block;
          padding: 11px 24px;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 3px;
            background-color: $main-color;
            bottom: 0;
            left: calc(50% - 24px);
          }
          &.router-link-exact-active {
            &::before {
              width: 48px;
            }
          }
        }
        @include breakpoint(tablet, min) {
          &>a {
            &::before {
              transition: width .1s ease-out;
            }
          }
          &:hover {
            &>a {
              &::before {
                width: 48px;
              }
            }
          }
        }
      }
    }
  }
  .mail-connection {
    position: absolute;
    width: 110px;
    height: 100%;
    right: 0;
    top: 0;
    @include flex(column, center, flex-end);
    background-color: $main-color;
    .mail-icon {
      width: 25px;
    }
    span {
      padding: 10px 0 26px 0;
      font-size: 14px;
      color: $white;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

@include breakpoint(tablet) {
  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .nav-menu__wrapper {
    height: map-get($nav-height, tablet);
    padding-right: 120px;
    .nav__wrapper {
      width: 60px;
      height: 100%;
      background-color: $secondary-color;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      cursor: pointer;
      .nav-content, .nav-hamburger {
        display: block;
      }
      .nav-hamburger {
        width: 100%;
        height: 100%;
        @include flex(column, center, flex-end);
        .ham {
          position: relative;
          width: 18px;
          height: 1.5px;
          background-color: #4a4a4a;
          transition: all .3s;
          &::before {
            content: '';
            bottom: 5px;
            left: 0;
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #4a4a4a;
            transition: bottom .2s .2s, transform .2s;
          }
          &::after {
            content: '';
            top: 5px;
            left: 0;
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: #4a4a4a;
            transition: top .2s .2s, transform .2s;
          }
        }
        &.is-active {
          .ham {
            background-color: transparent;
            &::before {
              transform: rotate(45deg);
              bottom: 0;
              transition: bottom .2s, transform .2s .2s;
            }
            &::after {
              transform: rotate(-45deg);
              top: 0;
              transition: top .2s, transform .2s .2s;
            }
          }
        }
        .content {
          font-size: 12px;
          padding: 12px 0 10px 0;
          color: #4a4a4a;
        }
      }
      .nav {
        overflow: auto;
        position: fixed;
        width: 100%;
        top: map-get($nav-height, tablet);
        left: 0;
        bottom: 0;
        padding: 8px 60px 0px 60px;
        background-color: $secondary-color;
        .nav-menu {
          width: 100%;
          height: auto;
          padding-bottom: 80px;
          padding-left: 60px;
        }
        .menu__item {
          &:first-child {
            display: block;
          }
          font-weight: normal;
          display: block;
          text-align: left;
          &>a {
            padding: 11.5px 0;
            &.router-link-exact-active {
              font-weight: 500;
              &::before {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: $main-color;
                bottom: 50%;
                left: -32px;
                transform: translateY(50%);
              }
            }
          }
          &+.menu__item {
            border-top: solid 1px $main-color;
          }
        }
      }
    }
    .mail-connection {
      width: 60px;
      right: 60px;
      .mail-icon {
        width: 20px;
      }
      &>span {
        padding: 6px 0 10px 0;
        font-size: 12px;
      }
    }
  }
}

@include breakpoint(mobile) {
  .nav-menu__wrapper {
    padding: 14px 10px;
    .title {
      .content {
        font-size: 12px;
        &>span {
          font-size: 10px;
          display: block;
          padding-bottom: 4px;
        }
      }
    }
    .nav__wrapper {
      .nav {
        padding-right: 0;
        .nav-menu {
          padding-left: 24px;
          .menu__item {
            &>a {
              padding: 12px 0;
            }
            &+.menu__item {
              border-top: none;
            }
          }
        }
      }
    }
  }
}