.home__main {
  padding-left: 190px;
  background-color: $secondary-color;
  position: relative;
  .main__description {
    position: absolute;
    top: 0;
    left: 0;
    width: 304px;
    height: 100%;
    @include flex($direction: column, $justify-content: center);
    padding: 0 0 50px 60px;
    background-color: rgba(255, 255, 255, 0.4);
    h2 {
      font-size: 20px;
      font-weight: 500;
      &>p {
        font-size: inherit;
        font-weight: inherit;
        &.indent {
          margin: 18px 0 20px 0;
        }
      }
    }
    ul {
      li {
        font-size: 14px;
        padding: 9px 0;
      }
    }
    .indent {
      padding-left: 10px;
    }
  }
}

@include breakpoint(tablet) {
  .home__main {
    padding-left: 0;
    .main__description {
      width: 30%;
      max-width: 206px;
      padding: 0 0 20px 40px;
      h2 {
        font-size: 14px;
        &>p {
          font-size: inherit;
          font-weight: inherit;
          &.indent {
            margin: 27px 0 32px 0;
          }
        }
      }
      ul {
        li {
          font-size: 12px;
          padding: 10px 0;
        }
      }
    }
  }
}

@include breakpoint(mobile) {
  .home__main {
    .main__description {
      display: none;
    }
  }
}